body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #222;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: #333;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}